:root {
  --principal-color: #152237;
  --gradient: linear-gradient(90deg, #44dd8a 0%, #15b7e2 100%);

  --border-radius: 6px;
}

* {
  list-style: none;
  margin: 0%;
  padding: 0%;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: white;
    text-decoration: none;
  }
}

header {
  background-color: var(--principal-color);
  height: 80px;
  width: 100%;
  align-content: center;
  justify-items: center;

  nav {
    display: flex;
    width: 80%;
    place-content: space-evenly;
    align-items: center;

    img {
      height: 31px;
      width: 84px;
    }

    a {
      color: white;
    }

    #searchBar {
      display: flex;
      align-items: center;
      position: relative;
      width: 477px;
      i {
        position: absolute;
        right: 15px;
        color: white;
        pointer-events: none;
      }
    }

    input {
      width: 477px;
      height: 40px;
      border: solid white 1px;
      background-color: var(--principal-color);
      border-radius: var(--border-radius);
      padding-right: 40px;
      box-sizing: border-box;
    }

    ::placeholder {
      color: white;
      padding-left: 20px;
    }

    #navBarBtn {
      display: flex;
      gap: 20px;
    }

    button {
      width: 130px;
      height: 40px;
      border-radius: var(--border-radius);
      border: none;
      font-size: 15px;
    }

    #signUpBtn {
      background: var(--gradient);
      border: none;
      color: var(--principal-color);
    }
  }
}

#heroSection {
  height: 450px;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url("img/bg-header.png");
  background-size: cover;
  background-position: center;

  h1 {
    color: var(--principal-color);
    font-size: 48px;
    font-weight: 1000;
    margin-bottom: 25px;
  }

  p {
    color: black;
    font-size: 20px;
  }

  button {
    margin-top: 27px;
    width: 130px;
    height: 40px;
    background: white;
    border: none;
    border-radius: var(--border-radius);
    color: var(--principal-color);
    font-size: 15px;
    font-weight: bold;
  }
}

#heroSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--gradient);
  opacity: 0.8;
  z-index: 0;
}

#heroSection > * {
  position: relative;
  z-index: 1;
}

#popFormations {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;

  h2 {
    font-size: 32px;
    font-weight: 700;
    color: var(--principal-color);
    width: 100%;
    max-width: 1504px;
    padding-left: 0;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  #container {
    display: flex;
    gap: 92px;
    max-width: 1504px;
  }

  button {
    margin-top: 40px;
    width: 225px;
    height: 40px;
    background: var(--principal-color);
    border: none;
    border-radius: var(--border-radius);
    color: white;
    font-size: 15px;
    font-weight: medium;
  }

  .card {
    width: 307px;
    height: 362px;
    overflow: hidden;
    background-color: white;
    position: relative;

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }

    .formationInfo {
      padding: 15px;

      h3 {
        font-size: 20px;
        color: var(--principal-color);
        margin-bottom: 10px;
        margin-top: 10px;
        font-weight: bolder;
      }

      p {
        font-size: 16px;
      }

      .prixFormPop {
        display: flex;
        align-items: center;
        gap: 8px;
        position: absolute;
        top: 180px;
        right: 8px;
        background-color: #1f2937;
        padding: 0px 9px;
        border-radius: 25px;
        z-index: 10;
        box-shadow: black 0px 2px 3px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

        .valueAfter {
          color: white;
          font-size: 20px;
          font-weight: 700;
          margin: 0;
        }

        .valueBefore {
          color: #9ca3af;
          font-size: 14px;
          text-decoration: line-through;
          margin: 0;
        }
      }
      .fa-star {
        color: #ffc700;
        opacity: 0.3;
        font-size: 20px;
        width: 20px;
        height: 20px;
      }

      .fa-star.checked {
        color: #ffc700;
        opacity: 1;
      }
    }
  }
}

#formationsRecentes {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 50px;
  background-color: var(--principal-color);
  height: auto;
  width: 100%;

  h2 {
    font-size: 32px;
    font-weight: 700;
    color: white;
    width: 100%;
    max-width: 1504px;
    padding-left: 0;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  #container {
    display: flex;
    gap: 92px;
    max-width: 1504px;
  }

  button{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 225px;
    height: 40px;
    background: white;
    border: none;
    border-radius: var(--border-radius);
    color: var(--principal-color);
    font-size: 15px;
    font-weight: medium;
  }

  .card {
    width: 307px;
    height: 362px;
    overflow: hidden;
    background-color: transparent;
    position: relative;

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }

    .formationInfo {
      padding: 15px;

      h3 {
        font-size: 24px;
        color: white;
        margin-bottom: 10px;
        margin-top: 10px;
        font-weight: bold;
      }

      p {
        font-size: 16px;
        color: white;
      }

      .prixFormPop {
        display: flex;
        align-items: center;
        gap: 8px;
        position: absolute;
        top: 180px;
        right: 8px;
        background-color: white;
        padding: 0px 9px;
        border-radius: 25px;
        z-index: 10;
        box-shadow: black 0px 2px 3px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

        .valueAfter {
          color: var(--principal-color);
          font-size: 20px;
          font-weight: 700;
          margin: 0;
        }

        .valueBefore {
          color: var(--principal-color);
          font-size: 14px;
          text-decoration: line-through;
          margin: 0;
        }
      }
      .fa-star {
        color: #ffc700;
        opacity: 0.3;
        font-size: 20px;
        width: 20px;
        height: 20px;
      }

      .fa-star.checked {
        color: #ffc700;
        opacity: 1;
      }
    }
  }
}


#reviews{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 80px 0;

  h2{
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 40px;
    line-height: 36px;
    letter-spacing: -0.015em;
    text-transform: uppercase;
    color: var(--principal-color);
    text-align: center;
    margin-bottom: 80px;
    margin-top: 0;
  }

  #containerReviews{
    display: flex;
    gap: 92px;
    max-width: 1504px;
    width: auto;
  }

  .cardReview{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 706px;

    img{
      width: 139px;
      height: 139px;
      border-radius: 50%;
      margin-bottom: 16px;
    }

    h3{
      font-size: 24px;
      font-weight: 700;
      color: var(--principal-color);
      margin-bottom: 12px;
      margin-top: 0;
    }

    .rating {
      margin-bottom: 16px;
    }

    .fa-star {
      color: #ffc700;
      font-size: 20px;
      margin-right: 4px;
      height: 20px;
      width: 20px;
    }

    .fa-star.checked {
      color: #ffc700;
      opacity: 1;
    }

    p{
      font-size: 16px;
      line-height: 1.7;
      margin-top: 0;
      margin-bottom: 0;
      color: black;
      text-align: left;
    }
  }
}

#advantage{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 80px 0;

  h2{
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 40px;
    line-height: 36px;
    letter-spacing: -0.015em;
    text-transform: uppercase;
    color: var(--principal-color);
    text-align: center;
    margin-bottom: 80px;
    margin-top: 0;
  }

  li{
display: flex;
flex-direction: row; }

  #containerAllAdvantages{
        display: flex;
    flex-flow: row;
  }

  #containerAdvantage{
    display: flex;
    gap: 92px;
    max-width: 1504px;
    width: auto;
    flex-direction: column;
    align-content: center;

  }

  .cardAdvantage{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    text-align: center;

    img{
      width: 80px;
      height: 80px;
      margin-bottom: 16px;
    }

    h3{
      font-size: 24px;
      font-weight: 700;
      color: var(--principal-color);
      margin-bottom: 12px;
      margin-top: 0;
    }

    p{
      font-size: 16px;
      line-height: 1.7;
      margin-top: 0;
      margin-bottom: 0;
      color: black;
      text-align: center;
    }
  }
}